html,body, #root, .App, .main{
  height : 100%;
  scroll-behavior: smooth;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: aliceblue;
}

#heading{
  font-weight: bolder;
}

.home-content {
  text-align: center;
  padding-top: 40px;
}

.home-button {
  width : 30%;
  margin : 20px;
  border-radius : 20px; 
  border : 1px solid #343a40;
  background-color: white;
  color : black;
  font-size: x-large;
  /* background-color : #343a40; */
}

.home-button:hover{
  color : white;
  background-color : #343a40;
}

@media (max-width : 768px){
  .home-button{
    font-size: larger;  
  } 
}

.home-card {
  display : flex;
  flex-direction: column;
  /* justify-content: center; */
}

.parallax {
  
  height: 100%; 
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe-card{
  margin: 20px;
}

@media (max-width : 600px){
  .recipe-card {
    margin-bottom: 20px;
  }
}

.recipe-card-root{
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  width: 100%;
}

@media (max-width : 1024px){
  .recipe-card-root{
    min-width: 250px;
  }
}

.scrollDown{
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: aliceblue;
}
